services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "15672:15672"   # UI
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 5s
      timeout: 5s
      retries: 20

  api:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    env_file:
      - ./app/rmq/.env
    depends_on:
      rabbitmq:
        condition: service_healthy

  worker:
    build: .
    command: python -m app.rmq.rmq_worker
    env_file:
      - ./app/rmq/.env

    depends_on:
      rabbitmq:
        condition: service_healthy
    restart: on-failure
